<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDBConnectionString"
			 connectionString="Data Source=.;Initial Catalog=InventoryDB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />

		<add name="MongoDBConnectionString"
				connectionString="mongodb+srv://mahmoudbmiqdad:Mahmoud2003@cluster0.t1n1ssg.mongodb.net/?retryWrites=true&amp;w=majority&amp;appName=Cluster0" />

	</connectionStrings>
</configuration>